.Page {
  height: 100%;
  width: 100%;
}

.Page-header,
.Page-main,
.Page-footer {
  width: 100%
}

.Page-main {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.Page-header{
  height: 10%;
}

.Page-header h1 {
  margin-bottom: 5px;
  margin-left: 15px;
}

.Page-main {
  height: 85%;
  overflow-y: auto;
}

.Page-footer {
  background-color: grey;
  height: 5%;
}
