.container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.header,
.main,
.footer {
  width: 100%
}

.main {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.header {
  height: 10%;
  display: flex;
  align-items: center;
}

.backButton {
  background-color: Transparent;
  border: none;
}

.header img {
  height: 40px;
  width: 40px;
  margin-left: 10px;
}

.header h1 {
  font-size: 40px;
  margin: 0 10px;

}

.main {
  height: 85%;
  overflow-y: auto;
}

.footer {
  background-color: grey;
  height: 5%;
}
