.container {
  height: 100%;
  width: 100%;
}

.header,
.main,
.footer {
  width: 100%
}

.main {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.header{
  height: 10%;
}

.header h1 {
  margin-bottom: 5px;
  margin-left: 15px;
}

.main {
  height: 85%;
  overflow-y: auto;
}

.footer {
  background-color: grey;
  height: 25px;
}
