.container {
  height: 100%;
  overflow: hidden;
  margin: auto; 
  max-width: 1300px;
}

.header,
.main,
.footer {
  width: 100%
}

.main {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 85%;
  overflow-y: auto;
}

.header {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerLeft {
  display: flex;
  align-items: center;
}

.backButton {
  background-color: Transparent;
  border: none;
}

.header img {
  height: 40px;
  width: 40px;
  margin-left: 15px;
}

.header h1 {
  font-size: 40px;
  margin: 0 15px;
}

.login {
  height: 50px;
  width: 90px;
  background-color: white;
  border: 1px solid #666;
  color: #666;
  margin-right: 15px;
}

.footer {
  background-color: grey;
  height: 5%;
}
