.container, form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  justify-content: center;
  align-items: center;
}

form {
  align-items: center;
}

.email,
.password,
.submit {
  width: 33%;
  height: 50px;
  text-align: center;
}

.email, .password {
  margin-bottom: 15px;
}

.submit {
  background-color: #DCDCDC;
  border: none;
}
